* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 80%;
	margin: 0 auto;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #ad9cf1; /* Warna latar belakang */
	color: #ffffff; /* Warna teks */
}

/* new nav */
nav {
	display: flex;
	height: 80px;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #ad9cf1; /* Warna latar belakang */
}
nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
nav ul li {
	margin: 0 5px;
}
nav ul li a {
	color: #ffffff; /* Warna teks */
	text-decoration: none;
	font-weight: 500;
	padding: 8px 15px;
	transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
	color: #ffffff; /* Warna teks aktif/hover */
}
nav .menu-btn i {
	color: #ffffff; /* Warna ikon */
	font-size: 22px;
	cursor: pointer;
	display: none;
}
input[type="checkbox"] {
	display: none;
}

.btn_login {
	background-color: #8e04dd; /* Warna tombol */
	width: 100%;
	padding: 8px 16px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	color: white;
}
.btn_login:hover {
	background-color: #8e04dd; /* Warna tombol hover */
	color: #fff;
}

/* style jumbotron */
.jumbotron {
	display: flex;
	background-color: #ad9cf1; /* Warna latar belakang */
	border-radius: 20px;
	padding: 20px 0;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 50px;
}
.jumbotron-text {
	width: 30%;
	font-weight: 500;
}
.jumbotron-text p {
	color: #ffffff; /* Warna teks */
	margin: 20px 0;
}
.jumbotron-text button {
	padding: 10px 18px;
	border: none;
	border-radius: 10px;
	background-color: #8e04dd; /* Warna tombol */
	color: #fffff; /* Warna teks tombol */
	cursor: pointer;
}

/* style card-categories */
.cards-categories {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cards-categories h2 {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
	color: #ffffff; /* Warna teks */
}

.card-categories {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.card {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
	background-color: #1a1a1a; /* Warna latar belakang */
}
.card:hover {
	transform: scale(1.05);
}
.card .card-image {
	overflow: hidden;
	border-radius: 15px 15px 0 0;
}
.card img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 15px 15px 0 0;
}
.card-content {
	padding: 20px;
}
.card h5 {
	margin-bottom: 10px;
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	font-weight: 600;
	color: #ffffff; /* Warna teks */
}
.card p.description {
	font-size: 14px;
	color: #cccccc; /* Warna teks deskripsi */
	margin-bottom: 15px;
}
.card p.price {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff; /* Warna teks harga */
	margin-bottom: 15px;
}
.card .btn_belanja {
	background-color: #8e04dd; /* Warna tombol */
	padding: 12px 20px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 16px;
	transition: background-color 0.3s ease;
}
.card .btn_belanja:hover {
	background-color: #8e04dd; /* Warna tombol hover */
}

/* footer */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 0;
	background-color: #ad9cf1; /* Warna latar belakang */
}

/* style page login */
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}
.form-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	background-color: #ad9cf1; /* Warna latar belakang */
	padding: 30px;
	margin: 0 auto;
	box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
}
.input {
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid rgb(148, 148, 148);
	background-color: #1a1a1a; /* Warna latar belakang input */
	color: #ffffff; /* Warna teks input */
}
.link-register {
	text-decoration: none;
	margin-top: 10px;
	color: #ffff; /* Warna link */
}

/* Modal */
.modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	color: #000;
}
.modal-dialog {
	width: 80%;
	max-width: 500px;
	background-color: #1a1a1a; /* Warna latar belakang */
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.modal-header {
	border-bottom: none;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modal-title {
	margin: 0;
	font-size: 1.2rem;
	color: #ffffff; /* Warna teks */
}
.btn-close {
	font-size: 1.5rem;
	background: none;
	border: none;
	cursor: pointer;
	color: #ffffff; /* Warna tombol close */
}
.modal-body {
	padding: 20px;
	color: #ffffff; /* Warna teks isi */
}
.form-group {
	margin-bottom: 20px;
}
.form-group .labelmodal {
	display: block;
	margin-bottom: 5px;
	color: #ffffff; /* Warna teks label */
}
.form-group .inputdata,
.form-group .inputalamat {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #1a1a1a; /* Warna latar belakang input */
	color: #ffffff; /* Warna teks input */
}
.modal-footer {
	border-top: none;
	padding: 10px 20px;
	display: flex;
	justify-content: flex-end;
	background-color: #0d003f; /* Warna latar belakang footer */
}
.btn-secondary,
.btn-yellow {
	padding: 8px 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
}
.btn-secondary {
	background-color: #888; /* Warna tombol sekunder */
	margin-right: 10px;
}
.btn-yellow {
	background-color: #ffff; /* Warna tombol kuning */
}
